.ui.main.topspacer.container
#stats.ui.main.container.hidden
  .ui.main.three.column.stackable.grid.container
    .row.three.column
      .column
        .ui.segment.stats.turnaround
          %a.ui.ribbon.label Turnaround
          #turnaroundchart
      .column
        .ui.container.segment.clearing.stats.sla
          %a.ui.ribbon.label SLA Position
          .ui.three.column.grid.container
            .row
              .column.centered
                .ui.container
                  .greencircle
                    In SLA
                    %br
                    6
            .row
              .column.centered
                .ui.container
                  .ambercircle
                    Out SLA
                    %br
                    3
            .row
              .column.centered
                .ui.container
                  .redcircle
                    Red Out
                    %br
                    0
      .column
        - github_search = "https://github.com/#{ENV['REPO']}/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+-label%3A%22QA+Accepted%22+-label%3A%22Platform%22"
        .ui.segment.stats.issues
          %a.ui.ribbon.label Issues Count
          .ui.middle.aligned.list.selection
            %a.item{href: "#{github_search}" + "#{URI.escape '+label:"Priority 1"'}" }
              .ui.label.horiztonal
                0
              Priority 1
            %a.item{href: "#{github_search}" + "#{URI.escape '+label:"Priority 2"'}" }
              .ui.label.horiztonal
                2
              Priority 2
            %a.item{href: "#{github_search}" + "#{URI.escape '+label:"Priority 3"'}" }
              .ui.label.horiztonal
                14
              Priority 3
            %a.item{href: "#{github_search}" + "#{URI.escape '+label:"Priority 4"'}" }
              .ui.label.horiztonal
                9
              Priority 4
            %a.item{href: "#{github_search}" + "#{URI.escape '+label:"Priority 5"'}" }
              .ui.label.horiztonal
                4
              Priority 5
            %a.item{href: "#{github_search}" + "#{URI.escape '+label:"Priority 6"'}" }
              .ui.label.horiztonal
                4
              Priority 6
            %a.item{href: "#{github_search}" + "#{URI.escape '+label:"Priority 7"'}" }
              .ui.label.horiztonal
                8
              Priority 7

.ui.main.interspacer.container

.ui.main.three.column.stackable.grid.container
  .row.three.column
    .column
      .ui.segment.clearing.issue
        %a.ui.green.ribbon.label
          = "#{rand(1..10)} days left"
        %span.number
          %a.ui.blue.label{ href: '#' }
            %b
              = "##{rand(1..9999)}"
        .ui.segment.basic.title
          %b Bacon ipsum dolor amet pork belly pork pork loin, short ribs frankfurter jerky beef swine
        .labels
          %a.ui.red.label
            Priority 2
          %a.ui.yellow.label
            = 'PGTK'[rand(4), 1] + 'AEIOU'[rand(5), 1]
          %a.ui.green.label
            +R Accepted
    .column
      .ui.segment.clearing.issue
        %a.ui.red.ribbon.label
          = "#{rand(1..10)} days over"
        %span.number
          %a.ui.blue.label{ href: '#' }
            %b
              = "##{rand(1..9999)}"
        .ui.segment.basic.title
          %b Tenderloin ham pork pork chop beef ribs
        .labels
          %a.ui.red.label
            Priority 2
          %a.ui.yellow.label
            = 'PGTK'[rand(4), 1] + 'AEIOU'[rand(5), 1]
          %a.ui.purple.label
            Integration
          %a.ui.label
            Component

    .column
      .ui.segment.clearing.issue
        %a.ui.ribbon.label
          N/A
        %span.number
          %a.ui.blue.label{ href: '#' }
            %b
              = "##{rand(1..9999)}"
        .ui.segment.basic.title
          %b Salami andouille
        .labels
          %a.ui.orange.label
            QA In Progress
          %a.ui.green.label
            +R Accepted
          %a.ui.teal.label
            Alpha
          %a.ui.blue.label
            Roadmap
  .row.three.column
    .column
      .ui.segment.clearing.issue
        %a.ui.green.ribbon.label
          = "#{rand(1..10)} days left"
        %span.number
          %a.ui.blue.label{ href: '#' }
            %b
              = "##{rand(1..9999)}"
        .ui.segment.basic.title
          %b Cow porchetta jowl kielbasa tongue pork belly boudin sirloin short loin jerky fatback
        .labels
          %a.ui.red.label
            Priority 3
          %a.ui.yellow.label
            = 'PGTK'[rand(4), 1] + 'AEIOU'[rand(5), 1]
          %a.ui.green.label
            +R Accepted

    .column
      .ui.segment.clearing.issue
        %a.ui.green.ribbon.label
          = "#{rand(1..10)} days left"
        %span.number
          %a.ui.blue.label{ href: '#' }
            %b
              = "##{rand(1..9999)}"
        .ui.segment.basic.title
          %b Rump ribeye frankfurter bresaola, hamburger pancetta shoulder beef filet mignon
        .labels
          %a.ui.red.label
            Priority 2
          %a.ui.yellow.label
            = 'PGTK'[rand(4), 1] + 'AEIOU'[rand(5), 1]
          %a.ui.green.label
            +R Accepted
    .column
      .ui.segment.clearing.issue
        %a.ui.green.ribbon.label
          = "#{rand(1..10)} days left"
        %span.number
          %a.ui.blue.label{ href: '#' }
            %b
              = "##{rand(1..9999)}"
        .ui.segment.basic.title
          %b Sirloin jerky kevin prosciutto corned beef chicken pork belly picanha turkey beef ribs pastrami tenderloin drumstick
        .labels
          %a.ui.red.label
            Priority 1
          %a.ui.yellow.label
            = 'PGTK'[rand(4), 1] + 'AEIOU'[rand(5), 1]
          %a.ui.green.label
            +R Accepted

